<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia App</title>
    <link rel="stylesheet" href="/css/show.css">
  </head>
  <body>
    <h1>Trivia Show Page</h1>
    The trivia question is: <br>
    <i>  <%= trivia.question %> </i> <br>
    
    the suggested wrong answers are: <br>
    <ol> 
    <li>  <i> <%= trivia.wrong1 %>.</i> </li>
    <li> <i> <%= trivia.wrong2 %>.</i> </li>
    <li> <i> <%= trivia.wrong3 %>.</i> </li>

    The asnwer is: <i><%= trivia.answer %>.</i> <br>
  </ol>
    It is added by:  <%=trivia.User.name%>

    <h3>It is available in Languages:</h3>
    <% for (let i=0; i< trivia.Languages.length; i++){ %>
    <li>
      <!-- <a href="/languages/<%=trivia.Languages[i].id%>"> -->
        <%=trivia.Languages[i].name%></a>
    </li>
    <br />
    <% } %>
<!-- 
    <form action="/trivias/<%= trivia.id %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE <%= trivia.question %>" />
    </form> -->
  </body>
</html>